:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /*warm sand */
    --accent1-color: #264653;
    /* Dark slate blur */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, helventica, sans-serif;

}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    background-color: #275aba;
    padding: 20px;
}

header img {
    max-width: 120px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
}

nav a {
    border: 1px solid #055a05;
    background-color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
    color: black;
    text-decoration: none;

}

.History {
    align-items: center;
    border: 2px solid #333;
    padding: 20px;

}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.history img {
    width: 100%;
}

section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.adventures {
    border: 2px solid #333;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    text-align: center;
}

.adventures h2 {
    grid-column: 1 / -1;
}

.adventures img {
    width: 100%;
}

figcaption {
    margin-top: 8px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d8c9f3;
    padding: 20px;
}

.social {
    display: flex;
    gap: 15px;
}

.social img {
    width: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

.socialmedia a {
    display: flex;
    gap: 16px;
}

.hero {
    border: 2px solid #333;
    padding: 20px;

}

.hero img {
    width: 100%;
}

h1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    align-items: center;

    /* white text - make sure there is enough contrast with the background-color */
}

.hero article img {
    float: right;
    width: 150px;
}