aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

header {
    margin: 0;
    padding: 25px;
    background-color: rgba(115, 145, 243, 0.457);
    border-radius: 10px;
}

nav {
    background-color: #ffffff;
    padding: 10px;

}

nav a {
    display: block;
    padding: 2px;
    border-radius: 2px;
    text-decoration: none;
    color: #000;
}

h1 {
    color: #000;
}

main img {
    width: 10rem;
    height: auto;
    padding: auto;
    border: 1px solid rgb(0 0 0);
    box-shadow: #000;
}

main {
    max-width: auto;
}